/* 전체 배경 */
body {
  margin: 0;
  background: #F8F9FF;
}

.reading-page {
  width: 100%;
  /* min-height: 100vh; */
  background: #F8F9FF;
}

/* 전체 좌우 여백 65px */
.reading-container {
  width: calc(100% - 130px);
  margin: 20px auto 0;
}

/* =========================
   업로드 파일 정보 박스
