<header class="navbar">
  <div class="navbar-inner">
    <a href="index.html" class="navbar-logo" aria-label="ReadFlow 홈으로 이동">
      <img src="assets/icons/logo-full.svg" alt="ReadFlow 로고" class="logo-full">
    </a>

    <nav class="navbar-menu">
      <a href="index.html" class="nav-link" data-page="index.html">홈(메인)</a>
      <a href="reading.html" class="nav-link" data-page="reading.html">읽기</a>
      <a href="library.html" class="nav-link" data-page="library.html">학습기록</a>
      <a href="#" class="nav-link" data-page="coach.html">AI 코치</a>
      <a href="#" class="nav-link" data-page="resources.html">자료실</a>
      <a href="#" class="nav-link" data-page="game.html">게임한판</a>
    </nav>

    <a href="login.html" class="profile-button" aria-label="프로필">
      <img src="assets/icons/profile-icon.svg" alt="" class="profile-icon-img">
    </a>
  </div>
</header>